body
{
    padding: 5rem 0 2rem;
}
.webcast canvas, .webcast video
{
    width: 100%;
}

.webcast .webcast-progress-bar
{
    visibility: hidden;
}

.webcast .webcast-progress-bar .progress-bar
{
    transition: width 0.6s ease-out, background-color 0.6s ease-out;
}

.webcast .webcast-video-container
{
    padding-bottom: 15px;
}

.webcast .webcast-canvas-container
{
    padding: 15px;
}

